/**
 * Main.scss
 */

@import "bourbon";
@import "normalize";

html, body {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 400;
  letter-spacing: 1px;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
  box-sizing: border-box;
  background: white;
}


h1 {
  font-size: 0.8em;
  font-weight: 600;
}
h3 {
  font-weight: 400;
  font-size: 0.7em;
}

section.section {
  position: relative;
  overflow: auto;
  background: {
    position: top right;
    repeat: repeat-y;
    size: cover;
  }
  width: 50%;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  float: left;
  &.hallys-section {
    background-image: url(/img/hallys_bg.jpg);
  }
  &.littleh-section {
    background-image: url(/img/littleh_bg.jpg);
    background-position: top left;
  }
}
@media screen and (max-width:680px){
  section.section {
    width: 100%;
    float: none;
    height: auto;
    clear: both;
  }
}
$column_width: 320px;
nav {
  max-width: $column_width;
  margin: auto;
  text-align: center;
  position: relative;
  top: 180px;
  &.hallys-nav {
    margin-right: 40px;
  }
  &.littleh-nav {
    margin-left: 40px;
  }
}

.csstransforms {
  nav {
    top: 50%;
    @include transform(translateY(-50%));
  }
}

@media screen and (max-width:680px){
  nav {
    &.hallys-nav,
    &.littleh-nav {
      margin-right: auto;
      margin-left: auto;
    }
  }
  .csstransforms nav {
    top: auto;
    margin-top: 30px;
    @include transform(translateY(0));
  }
}

a.logo {
  display: block;
  width: 195px;
  position: relative;
  margin: auto;
  max-width: 100%;
  height: 120px;
  background:{
    position: center center;
    repeat: no-repeat;
    size: 100%;
  }
}

a.logo-littleh {
  background-image: url(/img/littleh_logo.png);
}
a.logo-hallys {
  background-image: url(/img/hallys_logo.png);
}

a.button {
  display: block;
  width: $column_width;
  height: 150px;
  background: {
    repeat: no-repeat;
    position: top center;
    size: 100%;
  }
  @include transition(opacity 1s);
  &:hover {
    opacity: 0.7;
  }
}
a.button-littleh {
  background-image: url(/img/button_littleh.png);
}
a.button-hallys {
  background-image: url(/img/button_hallys.png);
}
